@import '@/assets/css/config';

.container {
  display: grid;
  grid-template-rows: 0fr;
  opacity: 0;
  overflow: hidden;
  transition: $transition;

  &.gap {
    margin-top: calc(var(--gap) / (-2));
    margin-bottom: calc(var(--gap) / (-2));
  }

  &[data-state='active'] {
    grid-template-rows: 1fr;
    opacity: 1;
    margin-top: 0;
  }
}
