@import '@/assets/css/config';

.container {
  display: grid;
  opacity: 0;
  grid-template-rows: 0fr;
  grid-template-columns: 0fr;
  overflow: hidden;
  transition: $transition;

  &[data-state='active'] {
    opacity: 1;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
  }

  &:not(.horizontal) {
    &.gap {
      margin-top: calc(var(--gap) / (-2));
      margin-bottom: calc(var(--gap) / (-2));
    }

    &[data-state='active'] {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &.horizontal {
    &.gap {
      margin-left: calc(var(--gap) / (-2));
      margin-right: calc(var(--gap) / (-2));
    }

    &[data-state='active'] {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
