@import '@/assets/css/config';

.icon {
  width: 24px;
  height: 24px;
  stroke: $gray-1;
  transition: $transition;

  &.hoverable:hover {
    transform: scale($scale);
    cursor: pointer;
  }

  path {
    stroke: inherit;
    transition: inherit;
  }
}
